.margin-inline-start-0 {
    margin-inline-start: 0;
}
.margin-inline-start-1 {
    margin-inline-start: 1px;
}

.margin-inline-end-0 {
    margin-inline-end: 0;
}

.margin-inline-end-0 {
    margin-inline-end: 1px;
}

.padding-inline-start-0 {
    padding-inline-start: 0;
}

.padding-inline-start-1 {
    padding-inline-start: 1px;
}

.padding-inline-end-0 {
    padding-inline-end: 0;
}

.padding-inline-end-1 {
    padding-inline-end: 1px;
}


