<template>
    <div class="{{ properCase name }}">
        <!-- Your content -->
    </div>
</template>

<script setup lang="ts" name="{{ properCase componentName }}">
import { useI18n } from "vue-i18n";
const { t } = useI18n();
// const { proxy } = getCurrentInstance()
// const router = useRouter()
// const route = useRoute()
</script>

<style lang="scss">
</style>
